p, li, h1, h3 {
    color: rgb(68, 0, 255);
    width: 500px;
    border: 1px;
}
html {
    font-size: 15px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в
   высоту */
    font-family: 'Roboto', sans-serif;
   }
html {
    background-color: #FFEFD5;
   }
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FFE4B5;
    padding: 0 20px 20px 20px;
    border: border: 2px solid white;
   }
h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 2px 2px 25px white;
   }
   img {
    display: block;
    margin: 0 auto;
   }